body {
    text-align: center;
}

table {
    height: 300px;
    width: 265px;
    margin: 30px auto;
    padding: 5px auto;
    display: inline-block;
    grid-template-columns: repeat(9, auto);
    background-color: rgb(205, 205, 205);
    border: 4px;
    border-style: outset;
    font-size: 60%;
}

img{
    width: 25px;
    height: 25px;
}

#scoreBoard {
    width: 233;
    padding: 5px;
    display: inline-block;
    background-color: rgb(205, 205, 205);
    border: 4px;
    border-style: inset;
    font-size: 60%;
}

#gameBoard TR TD {
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(182, 179, 179);
    font-size: 10px;
    border-style: outset;
    border-width: 2px;
}



#timer,
#reset,
#minesCounter {
    font-size: medium;
    width: 70px;
    display: inline-block;
}

#scoreBoard {
    width: 250px;
    margin: 5px;
    display: inline-block;
}

#gameBoard TR TD.flag {
    background-image: url("./images/flag.png");
}

#gameBoard TR TD.mine {
    border-style: inset;
    background-image: url("images/mine.png");
}

#gameBoard TR TD.clicked {
    border-style: inset;
    font-size: small;
}